.submitbtn {
    border: none;
    background-color: #999999; /* Green */
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

html {
	padding: 0 !important;
}

.balk {
    height: 24px;
    background-color: #333333;
    text-align: right;
    padding-left: 32px !important;
    border: none;
}

.balk a {
    color: white;
    text-align: left !important;
    font-weight: 900;
    font-size: 24px;
    padding-left: 32px !important;
}

.resultblock {
    width: 350px;
    height: 200px;
    background-color: #333333;
    padding: 16px;
}

.btn {
    border: none;
    background-color: #ffe600;
    color: #333333;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	font-weight: 600;
	margin: 8px;
}

.btnfile {
	background-color: white;
	color: #333333;
	text-align: center;
	display: inline-block;
	margin-bottom: 8px;

}

#oik {
	width: 100%;
}

#image {
	float: left;
}

#form {
	float: left;
}

#data {
	color: white;
}

.resultblock {
    width: 350px;
    height: 200px;
    background-color: #333333;
    padding: 16px;
    border: none;
}

body {
	background: #333333;
	font-family: 'Lato', sans-serif;
	/* padding: 0 !important; */
}
.sum {
    font-weight: 600;
    font-size: 64px;
    color: #ffe600;
}
#logo {
	width: 3%;
	padding: 7px;
	padding-left: 0px
}

/* #oik {
	border-style: solid;
	border-color: white;
	border-width: 1px;
} */

.pag {
	width: 64px;
	text-align:center;
}

.upperbar {
	background-color: #ffe600;
	height: 16px;
	width: 100%;
	margin-bottom: 16px;
	color: #333333;
}

/* .container {
	margin-top:32px;

} */

form#back {
	display: inline-block;
}

form#forward {
	display: inline-block;
}


.firstpage {
	text-align: center;
	color: white !important;
}


h1 {
	margin: 64px;
	margin-bottom: 16px;
    font-weight: 900;
    font-size: 64px;
}

h3 {
	margin-bottom: 32px;
}